#pro{
    color:bisque;
    font-weight: bolder;
}
#hi{
    font-family: Caveat, sans-serif;
    font-size: 65px;
    color:black;
}
#h2{
    color: black;
}

.gradient-background {
    background: linear-gradient(300deg, #EB0044, #226aaa, #D121EB);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  .lead{
    color: bisque;
  }

  .programmer-img{
    border-radius: 5px;
    filter: blur(8px);
  -webkit-filter: blur(8px)
  }

  .overlay-img{
    z-index: 2;
    position: absolute;
    border: solid gold 5px;
    top: 60px;
    left: 50px;
    border-radius: 175px;
  }

  #page-resume{
    background-color: #dddddd;
  }
  

  .underline{
    text-decoration: underline;
    font-family: "Montserrat","sans-serif";
    font-weight:bold ;
  }

  .sub-heading{
    color: #127ddd;
    text-decoration:dotted solid black;
  }

  .p{
    font-family: "Fira Sans Condensed"    ;
  }

  .points{
    color: #1d0f43 ;
    margin-left: -10px;
  }

  .flex-container {
    display: flex;
    /* list-style: none; */
    padding: 0;
    margin-left: 22px;
}

.flex-container li {
    margin-right: 60px; /* Add margin between list items if needed */
}

.footer-text-center{
    margin-bottom: 0px;
    text-align: center;
    color: bisque;
    font-weight: bold;
}
.nav-link{
    text-align: center;
    font-weight: bold;  
    color: bisque;
}

body{
    background: linear-gradient(300deg, #000000, #232121, #a5cdec);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }